.App {
  text-align: center;
  color: white;
  background-color: dimgrey;
}

.backgroundImage {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(0, 0, 0);
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.div-bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trans {
  margin: 10px;
  background-color: #ffffff;
  opacity: 0.2;
}
