.App {
  text-align: center;
  color: white;
  background-color: dimgrey;
}

.backgroundImage {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(0, 0, 0);
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.div-bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trans {
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h2 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  margin: 10px 0;
}
